:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.home {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.room {
    padding-left: 1rem;
    padding-right: 1rem;
}

.room h2 {
    padding-top: 1rem
}

.room .roomBox {
    width: 70%;
}

.room .partingLine {
    border-top: 1px solid #6b6b6b;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.room .message {
    display: flex;
}

.room .name {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: chartreuse;
    width: 10%;
    border-right: 1px solid #6b6b6b;
}

.room .roomBox {
    max-height: 60vh;
    overflow: auto;
}

.room .content {
    width: 90%;
    margin-left: 1rem;
}

.room .input {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.room .input #message {
    width: 50rem;
    height: 10vh;
    resize: none;
    overflow: auto;
}